### Tuples --> A tuple is a collection which is ordered and unchangeable.

In [1]:
my_tuple = (1, 2, 3.5, 3+5j, "Zoraiz", [1,2,3], (2.7,))

In [2]:
my_tuple

(1, 2, 3.5, (3+5j), 'Zoraiz', [1, 2, 3], (2.7,))

In [3]:
len(my_tuple)

7

In [4]:
my_tuple[4]

'Zoraiz'

In [5]:
my_tuple[-3]

'Zoraiz'

In [6]:
my_tuple[5:]

([1, 2, 3], (2.7,))

In [7]:
my_tuple[5][1]

2

In [8]:
my_tuple[1] = 3

TypeError: 'tuple' object does not support item assignment

In [9]:
list_1 = list(my_tuple)

In [10]:
list_1

[1, 2, 3.5, (3+5j), 'Zoraiz', [1, 2, 3], (2.7,)]

In [11]:
list_1[1] = 3

In [12]:
list_1

[1, 3, 3.5, (3+5j), 'Zoraiz', [1, 2, 3], (2.7,)]

In [13]:
my_tuple = tuple(list_1)

In [14]:
my_tuple

(1, 3, 3.5, (3+5j), 'Zoraiz', [1, 2, 3], (2.7,))

#### If you want to change tuple items first of all you need to convert it into list then change the items inside list then convert it back into tuple.

In [16]:
### when you create a tuple then it is called packing a tuple.
fruits = ("apple", "banana", "cherry")

In [17]:
### unpacking a tuple
Green, Yellow, Red = fruits

In [18]:
Green

'apple'

In [19]:
Yellow

'banana'

In [20]:
Red

'cherry'

In [21]:
for i in fruits:
    print(i)

apple
banana
cherry

In [22]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

In [23]:
# Cocatenating a tuple 
tuple3 = tuple1 + tuple2

In [24]:
tuple3

('a', 'b', 'c', 1, 2, 3)