### Set -- A set is a collection of multiple items which is unordered, unchangeable\*, and unindexed.

In [2]:
Set_1 = {"Zoraiz", "Abhishek", 1, 2.5, True, False, 0}

In [3]:
type(Set_1)

set

In [4]:
Set_1

{1, 2.5, 'Abhishek', False, 'Zoraiz'}

### Booleans -- True and False

### True is represented by 1.

### False is represented by 0.

In [5]:
## Boolean value of False
print(bool(False))

## Boolean  Value of None
print(bool(None))

## Boolean  Value of 0
print(bool(0))

## Boolean  Value of empty string
print(bool(""))

## Boolean  Value of empty tuple
print(bool(()))

## Boolean  Value of empty list
print(bool([]))

## Boolean  Value of empty dictionary
print(bool({}))

False
False
False
False
False
False
False

In [6]:
print(bool(True))
print(bool(2))
print(bool(1))
print(bool("Zoraiz"))
print(bool(("Abhishek",)))
print(bool([1,2,3]))
print(bool({"key": "Value"}))

True
True
True
True
True
True
True

#### Note:

1. The values True and 1 are considered the same value in sets, and are treated as duplicates.
2. The values False and 0 are considered the same value in sets, and are treated as duplicates.

In [9]:
set_1 = {"Zoraiz", "Apple", "Zoraiz", "Apple", True, False, 0, 1}

In [10]:
set_1

{'Apple', False, True, 'Zoraiz'}

In [12]:
len(set_1)

4

In [13]:
for i in set_1:
    print(i)

False
True
Apple
Zoraiz

In [14]:
set_1[1]

TypeError: 'set' object is not subscriptable

In [15]:
"Zoraiz" in set_1

True

In [16]:
"Abhishek" in set_1

False

In [17]:
set_1.add("Abhishek")

In [18]:
set_1

{'Abhishek', 'Apple', False, True, 'Zoraiz'}

In [19]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

In [20]:
thisset.update(tropical)

In [21]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [22]:
set_1.remove(False)

In [23]:
set_1

{'Abhishek', 'Apple', True, 'Zoraiz'}

### Note: If the item to remove does not exist, remove() will raise an error.

In [24]:
set_1.remove("Mango")

KeyError: 'Mango'

In [25]:
set_1.discard("Pineapple")

In [26]:
set_1

{'Abhishek', 'Apple', True, 'Zoraiz'}

In [27]:
set_1.discard(True)

In [28]:
set_1

{'Abhishek', 'Apple', 'Zoraiz'}

In [29]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

### Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [30]:
thisset.pop()

'papaya'

### Join Sets

1. There are several ways to join two or more sets in Python.

2. The union() and update() methods joins all items from both sets.

3. The intersection() method keeps ONLY the duplicates.

4. The difference() method keeps the items from the first set that are not in the other set(s).

5. The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [31]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

In [32]:
set_3 = set1.union(set2)

In [33]:
set_3

{1, 2, 3, 'a', 'b', 'c'}

In [40]:
set1.update(set2)

In [41]:
set1

{1, 2, 3, 'a', 'b', 'c'}

#### Types of slashes

1. / -- Forward Slash
2. \ -- Backward Slash
3. | -- standing slash

In [42]:
set_4 = set1 | set2

In [43]:
set_4

{1, 2, 3, 'a', 'b', 'c'}

In [44]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'apple', 'cherry', 'c', 'a', 'Elena', 'bananas', 'b'}

In [45]:
my_set = set1 | set2 | set3 |set4
print(my_set)

{1, 2, 3, 'John', 'apple', 'cherry', 'c', 'a', 'Elena', 'bananas', 'b'}

#### Note: The | operator only allows you to join sets with sets, and not with other data types like you can with the union() method.

In [46]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

### Intersection

- Keep ONLY the duplicates

- The intersection() method will return a new set, that only contains the items that are present in both sets.

In [47]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

### Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

In [48]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

### The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [49]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

### Difference

- The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [50]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [51]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

In [52]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>